@import '../../../styles//contants.scss';

.middleRight {
  background-color: $darkPrimary;
  padding: 4rem 4rem 0 4rem;
  @media (max-width: 950px) {
    padding: 2rem;
    padding-bottom: 1rem;
  }
  .benefitRow {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.9rem;
  }
}
