@import '../../styles/contants.scss';
.services {
  background-color: $grey;
  .title {
    text-align: center;
    font-size: xx-large;
    font-family: 'Lato';
    font-weight: 500;
    color: $black;
    padding-top: 5rem;
    @media (max-width: 500px) {
      margin-top: 7rem;
    }
    @media (max-width: 360px) {
      margin-top: 12rem;
      font-size: x-large;
    }
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-bottom: 6rem;
    margin: 6rem 5rem 0 5rem;
    @media (max-width: 950px) {
      grid-template-columns: 1fr;
      margin: 0;
      margin-top: 5rem;
      padding-bottom: 2rem;
    }
  }
}
