@import '../../styles/contants.scss';
.services {
  background-color: $grey;

  .title {
    text-align: center;
    font-size: xx-large;
    font-family: 'Lato';
    font-weight: 500;
    color: $black;
    padding-top: 5rem;
  }
  .container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 6rem;
    margin: 6rem 5rem 0 5rem;
  }
}
