@import '../../styles/contants.scss';

.container {
  background-color: $primary;
  color: $white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato';
  .title {
    font-size: 3rem;
  }

  .price {
    font-size: 3rem;
    color: $accent;
    font-weight: 700;
  }
  .subTitle {
    margin-top: 1rem;
    opacity: 0.7;
  }
  
}
